<!-- no right navigation currently -->
<li><a href="{{ .Site.BaseURL }}"><font size="2" color="Black" face="Arial"> HOME</font></a></li>
<li><a href="{{ .Site.BaseURL }}post"><font size="2" color="Black" face="Arial"> BLOG</font></a></li>
<li><a href="{{ .Site.BaseURL }}rhesis"><font size="2" color="Black" face="Arial"> RHESIS</font></a></li>
<li><a href="{{ .Site.BaseURL }}tags"><font size="2" color="Black" face="Arial"> TAGS</font></a></li>
<li><a href="{{ .Site.BaseURL }}about"><font size="2" color="Black" face="Arial"> ABOUT</font></a></li>
